* {
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Josefin Sans", Helvetica, Arial, Lucida, sans-serif;
}

.mainContainer {
  height: auto;
  width: 80%;
  margin: auto;
}

.donateTitle {
  color: #e84118;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 1em;
}

.blockTitle {
  color: #474747;
  font-size: 40px;
  font-weight: 700;
}

.totalAmt {
  font-weight: 700;
  color: #ea7002;
}
.paymentDetails {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.paymentDetails p {
  color: #474747;
  font-size: 30px;
  line-height: 50px;
}

.paymentDetails p:nth-child(4) {
  color: #ea7002;
  font-size: 30px;
}

.blockPara {
  color: #474747;
  font-size: 30px;
  margin: 20px 0px;
  line-height: 50px;
}

.Block {
  height: auto;
  color: #4a4a4a;
  font-size: 16px;
}

.selectBlock {
  width: 100%;
  height: auto;
  font-size: 40px;
  margin: 30px 0px;
}

#selectField {
  width: 97%;
  height: 100px;
  border: 1px solid #707070;
  border-radius: 8px;
  font-size: 30px;
  box-shadow: 0px 0px 6px #00000029;
  background: #f7f7fa 0% 0% no-repeat padding-box;
}

.inputField {
  height: 100px;
  width: 90%;
  font-size: 30px;
  padding: 0px 10px;
  border: 1px solid #707070;
  border-radius: 8px;
  box-shadow: 0px 0px 6px #00000029;
  background: #f7f7fa 0% 0% no-repeat padding-box;
}

input:focus {
  border-color: #e84118;
  border-radius: 8px;
  box-shadow: 0px 0px 6px #00000080;
}

textarea:focus {
  border-color: #e84118;
  border-radius: 8px;
  box-shadow: 0px 0px 6px #00000080;
}

.textFields {
  height: auto;
  width: 100%;
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
}
.textArea {
  width: 97%;
  font-size: 40px;
  margin: 30px 0px 20px 0px;
}
.areaField {
  height: 200px;
  width: 100%;
  font-size: 30px;
  padding:10px;
  border: 1px solid #707070;
  border-radius: 8px;
  box-shadow: 0px 0px 6px #00000029;
  background: #f7f7fa 0% 0% no-repeat padding-box;
}

#poojaBlock {
  margin: 60px 0px;
}

#poojaBlock p {
  font-size: 30px;
}

#poojaOption {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}

.layer {
  height: 40px;
  width: 40px;
  border: 3px solid #666;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radioBtn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  opacity: 0;
}

.innerLayer {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  position: relative;
}

#stateField {
}

.radio-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radio-button__input {
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.radio-button__control {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  vertical-align: middle;
  background-color: inherit;
  color: #017b5f;
  border: 3px solid #666;
  border-radius: 50%;
}

.radio-button__input:checked + .radio-button__control:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 20%;
  width: 20px;
  height: 20px;
  display: none;
  background-color: #e84118;
  border-radius: 12px;
}

.radio-button__input:checked + .radio-button__control {
  border-color: #e84118;
}
.radio-button__input:checked + .radio-button__control:after {
  display: block;
}

#poojaDetails {
  margin: 60px 0px;
}

.poojaDetailTitle {
  font-size: 30px;
}

.poojaFields {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.errorPopUp {
  width: 100%;
  height: 30px;
  background: #e84118;
  color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 6px #00000029;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dateNoteBlock {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 54px;
}
.dateNote {
  height: 100px;
  width: 30%;
  font-size: 25px;
}
.securityCheck {
  height: auto;
}

.fullField {
}

.capchaContent {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.capchaQues {
  width: 70%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resultBox {
  height: 60px;
  width: 80px;
  padding: 0px 5px;
  font-size: 30px;
  border: 1px solid #707070;
  border-radius: 8px;
  box-shadow: 0px 0px 6px #00000029;
  background: #f7f7fa 0% 0% no-repeat padding-box;
}

.paymentButton {
  height: 150px;
  width: 100%;
  margin: 40px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#paymentBtn {
  height: auto;
  font-size: 50px;
  padding: 15px 55px;
  color: white;
  background: #e84118 0% 0% no-repeat padding-box;
  border-radius: 8px;
}

.errorMsg {
  font-size: 16px;
  visibility: hidden;
  background: #e84118 ;
  color:  white;
  padding: 5px 10px;
}

/* Volunteer page */

.VolunteerTitle {
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 40px;
}

.VolunteerContainer p {
  line-height: 30px;
  font-size: 30px;
}

.formContainer {
}

.fullField {
  height: 100px;
  width: 100%;
  font-size: 30px;
  padding: 10px 20px;
  margin: 10px 0px;
  border: 1px solid #707070;
  border-radius: 8px;
  box-shadow: 0px 0px 6px #00000029;
  background: #f7f7fa 0% 0% no-repeat padding-box;
}
.volTextarea {
  height: 200px;
  width: 100%;
  font-size: 30px;
  padding: 10px 20px;
  border: 1px solid #707070;
  border-radius: 8px;
  box-shadow: 0px 0px 6px #00000029;
  background: #f7f7fa 0% 0% no-repeat padding-box;
  margin: 10px 0px;
}

/* suggestTemple */

.paraList {
  padding-left: 35px;
  line-height: 40px;
}

.paraList li {
  font-size: 30px;
}

.reachBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.poojaItem {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.halfField {
  height: 100px;
  width: 50%;
  font-size: 30px;
  padding: 10px 20px;
  margin: 10px 0px;
  border: 1px solid #707070;
  border-radius: 8px;
  box-shadow: 0px 0px 6px #00000029;
  background: #f7f7fa 0% 0% no-repeat padding-box;
}

.flexProperties {
  display: flex;
  justify-content: center;
}
